.app {
    display: grid;
    place-items: center;
    background-color: #dadbd3;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.app__body {
    display: flex;
    background-color: #ededed;
    height: 90vh;
    margin-top: -50px;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}